.page {
  color: var(--color-text, #fff);
  font-family: var(--font-family-base, "Inter", sans-serif);
}

.header {
}

.header__bar {
  display: flex;
  justify-content: space-between;
  gap: 127px;
  min-height: 58px;
  padding-inline-start: 34px;
  padding-block-start: 23px;
}

.header__brand {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__drawer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  direction: column;
}

.header__action svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 16px; /* чтобы на маленьких экранах не прилипало к краям */
}

.hero__bg {
  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  background-position: right center;
}
