:root {
  --background-image: url("../images/cover-image-dark.png");
  --color-bg: #252b42;
  --accent-color: #ff0070;
  --font-size-base: 18px;
  --font-family-base: "Inter", sans-serif;
  --line-height-base: 1.5;
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 60px;
  --title-decor-color: #000028;
  --color-text: #ffffff;
  --border-hover-color: #ff007066;
  --heading-color: #db00ff;
  --section-title-color: #ff0070;
  --corner-color: var(--accent-color, #ff0070);
}
